* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100vw;
}

body {
	/*width: 100vw;*/
	height: 100%;
	margin: 40px 50px 0 50px;
	background-image: url("img/background-3.jpg");
	background-repeat: no-repeat;
	background-position: center top;
 	background-size: 100% auto;
 	color: #20202a;
}

h1 {
	font-family: 'Bebas Neue';
	font-size: 4em;
	letter-spacing: 0.05em;
	margin-bottom: 15px;
}

h2 {
	font-family: 'Bebas Neue';
	font-size: 2em;
	margin-bottom: 10px;
}

p {
	font-family: 'Roboto';
	font-weight: 400;
	line-height: 1.5em;
	font-size: 1em;
}

.height {
	height: 190%;
}

.text-container {
	max-width: 500px;
}

.text-container p {
	margin-right: 50px;
	font-size: 1.2em;
}

.afval-container {
	width: 450px;
	height: 350px;
	position: absolute;
	margin-top: calc(90% - 630px);
	margin-left: calc(10% - 100px);
	margin-bottom: 20%;
}

.afval-container img {
	width: 400px;
}

.melding-container {
	width: 350px;
	height: 400px;
	position: absolute;
	margin-top: calc(65% - 600px);
	margin-left: calc(70% - 380px);
}

.papierbak-container {
	width: 500px;
	height: 250px;
	margin-top: calc(75% - 420px);
	margin-left: calc(50% - 350px);
}

.papierbak-container img {
	height: 300px;
	position: absolute;
	top: -220px;
	right: 50px;
}

.map-container {
	position: absolute;
	top: 50px;
	right: 100px;
	width: calc(100% - 700px);
}

.hover {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 8px solid #59b363;
	position: absolute;
	margin-top: 380px;
	margin-left: 280px;
}

.hover img {
	width: 40px;
	height: 40px;
}

.hover-2 {
	margin-top: 300px;
	margin-left: 200px;
}

.hover-3 {
	margin: 250px 0 0 280px;
}

.hover-4 {
	margin-top: 320px;
	margin-left: -400px;
}

.melding {
	margin-top: -70px;
	position: relative;
	opacity: 0%;
	background-size: 100% 100%;
	padding: 25px;
	box-sizing: border-box;
}

.melding-1 {
	margin: 100px 0px auto auto;
	width: 300px;
	height: 220px;
	background-image: url("img/text-background.png");
}

.melding-1 p {
	margin-bottom: 15px;
}

.melding-2 {
	padding-bottom: 50px;
	background-image: url("img/text-background-big2.png");
	z-index: 2;
}

.melding-3 {
	background-image: url("img/text-background-wide.png");
	height: 220px;
}

.melding-4 {
	background-color: white;
	width: 100%;
	height: 400px;
	margin: 0;
	background-image: url("img/text-background-xbig.png");
}

.big-text {
	font-family: 'Bebas Neue';
	font-size: 1.7em;
	text-align: center;
	margin: 0 5px;
}

.hover:hover + .melding {
	opacity: 100%;
	transition: 0.5s all;
}